SampleDsl/MyDslComponents/Dsl/GeneratedCode/MyDslComponentsSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="MyDslComponentsSchema" targetNamespace="http://schemas.microsoft.com/dsltools/MyDslComponents" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/MyDslComponents" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- ExampleModel -->
  <xsd:element name="exampleModel" type="ExampleModel" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ExampleModel">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ExampleModelHasMyButton -->
          <xsd:element name="myButton" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ExampleModelHasMyButton</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="exampleModelHasMyButton">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from ExampleModelHasMyButton needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="myButton" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ExampleModelHasMyTextbox -->
          <xsd:element name="myTextbox" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ExampleModelHasMyTextbox</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="exampleModelHasMyTextbox" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ExampleModelHasMyTextbox needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ExampleModelHasMyGauge -->
          <xsd:element name="myGauge" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ExampleModelHasMyGauge</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="exampleModelHasMyGauge" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ExampleModelHasMyGauge needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ExampleModel Moniker -->
  <xsd:element name="exampleModelMoniker" type="ExampleModelMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ExampleModelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ExampleModel instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MyButton -->
  <xsd:element name="myButton" type="MyButton" substitutionGroup="myComponent" />
  <xsd:complexType name="MyButton">
    <xsd:annotation>
      <xsd:documentation>Elements embedded in the model. Appear as boxes on the diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MyComponent">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <!-- Property: Text -->
        <xsd:attribute name="text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MyButton Moniker -->
  <xsd:element name="myButtonMoniker" type="MyButtonMoniker" substitutionGroup="myComponentMoniker" />
  <xsd:complexType name="MyButtonMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MyButton instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MyComponentMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MyTextbox -->
  <xsd:element name="myTextbox" type="MyTextbox" substitutionGroup="myComponent" />
  <xsd:complexType name="MyTextbox">
    <xsd:complexContent>
      <xsd:extension base="MyComponent">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: Text -->
        <xsd:attribute name="text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MyTextbox Moniker -->
  <xsd:element name="myTextboxMoniker" type="MyTextboxMoniker" substitutionGroup="myComponentMoniker" />
  <xsd:complexType name="MyTextboxMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MyTextbox instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MyComponentMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MyGauge -->
  <xsd:element name="myGauge" type="MyGauge" substitutionGroup="myComponent" />
  <xsd:complexType name="MyGauge">
    <xsd:complexContent>
      <xsd:extension base="MyComponent">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: RangeStart -->
        <xsd:attribute name="rangeStart" type="xsd:integer" />
        <!-- Property: RangeEnd -->
        <xsd:attribute name="rangeEnd" type="xsd:integer" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MyGauge Moniker -->
  <xsd:element name="myGaugeMoniker" type="MyGaugeMoniker" substitutionGroup="myComponentMoniker" />
  <xsd:complexType name="MyGaugeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MyGauge instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MyComponentMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MyComponent -->
  <xsd:element name="myComponent" abstract="true" type="MyComponent" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MyComponent" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MyComponent Moniker -->
  <xsd:element name="myComponentMoniker" abstract="true" type="MyComponentMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MyComponentMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MyComponent instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ExampleModelHasMyButton -->
  <xsd:element name="exampleModelHasMyButton" abstract="true" type="ExampleModelHasMyButton" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ExampleModelHasMyButton" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Embedding relationship between the Model and Elements</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end MyButton -->
          <xsd:element ref="myButton" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ExampleModelHasMyButton Moniker -->
  <xsd:element name="exampleModelHasMyButtonMoniker" type="ExampleModelHasMyButtonMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ExampleModelHasMyButtonMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ExampleModelHasMyButton instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ExampleModelHasMyTextbox -->
  <xsd:element name="exampleModelHasMyTextbox" type="ExampleModelHasMyTextbox" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ExampleModelHasMyTextbox">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end MyTextbox -->
          <xsd:element ref="myTextbox" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ExampleModelHasMyTextbox Moniker -->
  <xsd:element name="exampleModelHasMyTextboxMoniker" type="ExampleModelHasMyTextboxMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ExampleModelHasMyTextboxMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ExampleModelHasMyTextbox instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ExampleModelHasMyGauge -->
  <xsd:element name="exampleModelHasMyGauge" type="ExampleModelHasMyGauge" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ExampleModelHasMyGauge">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end MyGauge -->
          <xsd:element ref="myGauge" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ExampleModelHasMyGauge Moniker -->
  <xsd:element name="exampleModelHasMyGaugeMoniker" type="ExampleModelHasMyGaugeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ExampleModelHasMyGaugeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ExampleModelHasMyGauge instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

